/.buckconfig
/.bundle
/.eslintrc.js
/.flowconfig
/.node-version
/.prettierrc.js
/.ruby-version
/.vscode
/.watchmanconfig
/android
/App.js
/app.json
/assets
/babel.config.js
/Gemfile
/ios
/metro.config.js
/node_modules
/reanimated-2-playground
/__tests__